html, body, nav, ul, li, table, td, tr, section, header, div, p, span, img, h1, h2, h3 {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

html {
  font: 16px Verdana; }

body #wrapper {
  width: 80%;
  margin: 0 auto; }
  body #wrapper .unit {
    font-size: 1.2rem; }
    body #wrapper .unit span {
      color: #A00;
      border-right: 1px solid black;
      margin-right: 5px;
      padding-right: 5px; }
  body #wrapper .building-holder {
    width: 250px;
    display: inline-block; }

